<!--getAllOrders.ejs-->
<!DOCTYPE html>
<html>
<head>
    <title>Order Results</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="container">
    <h2>Database results getting Orders </h2>
    <ul>
        <% results.forEach(function(r) { %>
        <li><%= r._id %> : <%= r.CUSTOMER_ID %></li>
        <ul>
            <li>Bill to:( <%=r.BILLING_ID %> )</li>
            <li>Ship to: ( <%=r.SHIPPING_ID %> )</li>
            <li>Total: ( <%=r.ORDER_TOTAL %> )</li>
        </ul>
        <br/><br/>
        <% }); %>
    </ul>
</div>

</body>
</html>